LojaAppWPF/Service References/WS/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60633/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60633/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60633/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LojaWcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FabricanteSelect_InputMessage">
    <wsdl:part name="parameters" element="tns:FabricanteSelect" />
  </wsdl:message>
  <wsdl:message name="IService1_FabricanteSelect_OutputMessage">
    <wsdl:part name="parameters" element="tns:FabricanteSelectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FabricanteInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:FabricanteInsert" />
  </wsdl:message>
  <wsdl:message name="IService1_FabricanteInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:FabricanteInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FabricanteUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:FabricanteUpdate" />
  </wsdl:message>
  <wsdl:message name="IService1_FabricanteUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:FabricanteUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FabricanteDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:FabricanteDelete" />
  </wsdl:message>
  <wsdl:message name="IService1_FabricanteDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:FabricanteDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_VeiculoSelectDisponiveis_InputMessage">
    <wsdl:part name="parameters" element="tns:VeiculoSelectDisponiveis" />
  </wsdl:message>
  <wsdl:message name="IService1_VeiculoSelectDisponiveis_OutputMessage">
    <wsdl:part name="parameters" element="tns:VeiculoSelectDisponiveisResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_VeiculoInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:VeiculoInsert" />
  </wsdl:message>
  <wsdl:message name="IService1_VeiculoInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:VeiculoInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_VeiculoUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:VeiculoUpdate" />
  </wsdl:message>
  <wsdl:message name="IService1_VeiculoUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:VeiculoUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_VeiculoDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:VeiculoDelete" />
  </wsdl:message>
  <wsdl:message name="IService1_VeiculoDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:VeiculoDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FabricanteSelect">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FabricanteSelect" message="tns:IService1_FabricanteSelect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FabricanteSelectResponse" message="tns:IService1_FabricanteSelect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FabricanteInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FabricanteInsert" message="tns:IService1_FabricanteInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FabricanteInsertResponse" message="tns:IService1_FabricanteInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FabricanteUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FabricanteUpdate" message="tns:IService1_FabricanteUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FabricanteUpdateResponse" message="tns:IService1_FabricanteUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FabricanteDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FabricanteDelete" message="tns:IService1_FabricanteDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FabricanteDeleteResponse" message="tns:IService1_FabricanteDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VeiculoSelectDisponiveis">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/VeiculoSelectDisponiveis" message="tns:IService1_VeiculoSelectDisponiveis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VeiculoSelectDisponiveisResponse" message="tns:IService1_VeiculoSelectDisponiveis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VeiculoInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/VeiculoInsert" message="tns:IService1_VeiculoInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VeiculoInsertResponse" message="tns:IService1_VeiculoInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VeiculoUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/VeiculoUpdate" message="tns:IService1_VeiculoUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VeiculoUpdateResponse" message="tns:IService1_VeiculoUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VeiculoDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/VeiculoDelete" message="tns:IService1_VeiculoDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VeiculoDeleteResponse" message="tns:IService1_VeiculoDelete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FabricanteSelect">
      <soap:operation soapAction="http://tempuri.org/IService1/FabricanteSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FabricanteInsert">
      <soap:operation soapAction="http://tempuri.org/IService1/FabricanteInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FabricanteUpdate">
      <soap:operation soapAction="http://tempuri.org/IService1/FabricanteUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FabricanteDelete">
      <soap:operation soapAction="http://tempuri.org/IService1/FabricanteDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VeiculoSelectDisponiveis">
      <soap:operation soapAction="http://tempuri.org/IService1/VeiculoSelectDisponiveis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VeiculoInsert">
      <soap:operation soapAction="http://tempuri.org/IService1/VeiculoInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VeiculoUpdate">
      <soap:operation soapAction="http://tempuri.org/IService1/VeiculoUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VeiculoDelete">
      <soap:operation soapAction="http://tempuri.org/IService1/VeiculoDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:60633/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>